form {
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px 6px;
  margin: 0 4px;
}

textarea {
  margin-bottom: 8px;
  padding-left: 5px;
  width: 200px;
  height: 200px;
}
